<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DaftarResto</servlet-name>
        <servlet-class>usd.project.controller.DaftarResto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>usd.project.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editMejaServlet</servlet-name>
        <servlet-class>usd.project.controller.editMejaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KonfirmasiTransaksiServlet</servlet-name>
        <servlet-class>usd.project.controller.KonfirmasiTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>usd.project.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatReservasiServlet</servlet-name>
        <servlet-class>usd.project.controller.LihatReservasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatTransaksiServlet</servlet-name>
        <servlet-class>usd.project.controller.LihatTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaftarRestoPart2</servlet-name>
        <servlet-class>usd.project.controller.DaftarRestoPart2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTransaksiServlet</servlet-name>
        <servlet-class>usd.project.controller.DetailTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FwToReservasi</servlet-name>
        <servlet-class>usd.project.controller.FwToReservasi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatJadwalServlet</servlet-name>
        <servlet-class>usd.project.controller.LihatJadwalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JadwalMejaServlet</servlet-name>
        <servlet-class>usd.project.controller.JadwalMejaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatMejaServlet</servlet-name>
        <servlet-class>usd.project.controller.LihatMejaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DaftarResto</servlet-name>
        <url-pattern>/DaftarResto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMejaServlet</servlet-name>
        <url-pattern>/editMejaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KonfirmasiTransaksiServlet</servlet-name>
        <url-pattern>/KonfirmasiTransaksiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LihatReservasiServlet</servlet-name>
        <url-pattern>/LihatReservasiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LihatTransaksiServlet</servlet-name>
        <url-pattern>/LihatTransaksiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaftarRestoPart2</servlet-name>
        <url-pattern>/DaftarRestoPart2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTransaksiServlet</servlet-name>
        <url-pattern>/DetailTransaksiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FwToReservasi</servlet-name>
        <url-pattern>/FwToReservasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LihatJadwalServlet</servlet-name>
        <url-pattern>/LihatJadwalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JadwalMejaServlet</servlet-name>
        <url-pattern>/JadwalMejaServlet</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>LihatMejaServlet</servlet-name>
        <url-pattern>/LihatMejaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
